<div class="container-fluid text-center">
  <div class="row my-5" *ngFor="let userPlan of user.userPlans">
    <div class="col-2">
      <div class="card peach-card">
        <div class="fs-5 fw-bold">
          {{ userPlan.plan.name }}
        </div>
        <div>{{ displayLines(userPlan.plan.maxNumLines) }}</div>
             <!-- <div>{{userPlan.plan}}</div> -->
      </div>
    </div>
    <div class="col-10">
      <div class="row gy-4">
        <div class="col-4" *ngFor="let phone of userPlan.phones">
          <app-device [phone]="phone"></app-device>
        </div>
        <div
          class="col-4"
          *ngIf="userPlan.plan.maxNumLines > userPlan.phones.length"
        >
          <div class="card green-card">
            <button class="edit-btn" onclick="openCreator()">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="50"
                height="50"
                fill="currentColor"
                class="bi white-text bi-plus-square-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"
                />
              </svg>

              <div class="white-text">Add new phone</div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card blue-card">
    <button>Add New Plan</button>
  </div>

<!-- 
  <table class="table white-table">
    
    <tbody>
     
      <tr *ngFor="let device of deviceList">
        <app-device [phone]="device"></app-device>
      </tr>
    </tbody>
  </table> -->

</div>

<br />
<br />

