/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

:root {
  --c-white: #fbf7f3;
  --c-blue: #20283d;
  --c-green: #426e5d;
  --c-peach: #e5b083;
}

body {
  background-color: var(--c-white);
}
nav {
  background-color: var(--c-peach);
  color: var(--c-white);
  margin-bottom: 30px;
}
.navbar-brand,
.nav-link {
  color: var(--c-blue);
}
.navbar-brand:hover,
.nav-link:hover {
  color: var(--c-green);
}

.card {
  border-style: none;
  padding: 20px;
  height: 100%;
}
.row {
  margin-bottom: 30px;
}

.blue-btn {
  background-color: var(--c-blue);
  border-color: var(--c-blue);
  color: var(--c-white);
}
.blue-btn:hover {
  color: var(--c-peach);
}

.blue-card {
  background-color: var(--c-blue);
  color: var(--c-white);
}
.green-card {
  background-color: var(--c-green);
  color: var(--c-white);
}
.white-card {
  border-style: none;
  background-color: var(--c-white);
  color: var(--c-blue);
}
.peach-card {
  border-style: none;
  background-color: var(--c-peach);
  color: var(--c-blue);
}

.table-light {
  background-color: var(--c-white);
  color: var(--c-blue);
}

/* 
#20283d blue
#426e5d green
#e5b083	peach
#fbf7f3 white
*/
