<div class="card green-card" style="width: 18rem; min-height: 290px">
  <div class="card-body">
    <div class="row mb-3">
      <div class="col-9 align-self-end">
        <h4 class="card-title">{{ userPlan.plan.name }}</h4>
      </div>
      <div class="col-2 align-self-start">
        <button class="btn btn-sm" (click)="openEditor(userPlan)">
          <div class="text-end mb-auto">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class="bi white-text bi-pencil-square mb-2"
              viewBox="0 0 16 16"
            >
              <path
                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
              />
              <path
                fill-rule="evenodd"
                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
              />
            </svg>
          </div>
        </button>
      </div>
    </div>
    <p>Lines: {{ userPlan.phones.length }}/{{ userPlan.plan.maxNumLines }}</p>
    <h5 class="text-center mt-4">Phones</h5>
    <table class="table green-table" *ngIf="userPlan.phones">
      <tbody>
        <tr *ngFor="let phone of userPlan.phones">
          <td>{{ phone.phoneName }}</td>
          <td class="text-end" style="white-space: nowrap">
            {{ formatPhone(phone.phoneNumber) }}
          </td>
        </tr>
      </tbody>
    </table>
    <div
      class="container my-0 py-0 d-flex justify-content-center"
      *ngIf="userPlan.phones.length < userPlan.plan.maxNumLines"
    >
      <button
        class="btn btn-sm"
        style="border: #fbf7f3; border-style: solid; border-width: 0.1rem"
        routerLink="/devices"
        routerLinkActive="active"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          class="bi bi-plus-circle"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
          />
        </svg>
      </button>
    </div>
  </div>
</div>
