<div class="container">
	<div class="row">
		<div class="col"></div>
		
		<div class="col-6">
		<div class="card blue-card">

			<!-- method="post" action="http://127.0.0.1:9001/perform_login" -->
			<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
				<div class="mb-3">
					<label for="email" class="form-label">
						Email address
					</label>
					<input type="email" id="email" name="email" class="form-control" placeholder="Email Address" autofocus required ngModel aria-describedby="emailHelp" />
				</div>
				<div class="mb-3">
					<label for="password" class="form-label">
						Password
					</label>
					<input type="password" id="password" name="password" class="form-control" placeholder="Password" required ngModel />
				</div>
				<div class="d-flex">
					<button type="submit" class="btn green-btn">Login</button>
					<span class="me-auto"></span>
					<a class="text-end" routerLink="/login/newuser">New User</a>
				</div>
			</form>

		</div>
		</div>

		<div class="col"></div>
	</div>
</div>