<div class="card blue-card">
  <div class="card-body">
    <h5 class="card-title text-center">Plan Name</h5>
    <table class="table blue-table">
      <tbody>
        <tr>
          <th scope="row">Number of lines</th>
          <td class="text-end">
            {{ plan.maxNumLines }}
          </td>
        </tr>
        <tr>
          <th scope="row">Base Cost</th>
          <td class="text-end">${{ plan.baseCost }}</td>
        </tr>
        <tr>
          <th scope="row">Cost Per Line</th>
          <td class="text-end">${{ plan.costPerLine }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
