<div class="modal-body">
	<form [formGroup]="phoneForm" (ngSubmit)="onSubmit()">

		<div class="mb-3">
			<label for="phoneName" class="form-label">Device Name</label>

			<input type="text" class="form-control" id="name" formControlName="phoneName" />
			<div *ngIf="submitted &&f.phoneName.invalid && (f.phoneName.dirty || f.phoneName.touched)" class="alert alert-danger">

				<div *ngIf="f.phoneName.errors?.required">
					Device name is required.
				</div>
				<div *ngIf="f.phoneName.errors?.minlength">
					Device name must be at least 4 characters long.
				</div>
			</div>
		</div>

		<div class="mb-3">
			<label for="phone-number" class="form-label">Phone Number</label>
			<input type="text" class="form-control" id="phone-number" formControlName="phoneNumber" />
			<button type="button" class="green-btn" (click)="randomize()">Random</button>
			<div *ngIf="submitted &&f.phoneNumber.invalid && (f.phoneNumber.dirty || f.phoneNumber.touched)" class="alert alert-danger">

				<div *ngIf="f.phoneNumber.errors?.required">
					Phone number is required. 
				</div>
				<div *ngIf="f.phoneNumber.errors?.pattern">
					Phone number must be a 10 digit number.
				</div>
			</div>
		</div>

		<div class="mb-3">
			<label for="phone-type" class="form-label">Phone Type</label>
			<input type="text" class="form-control" id="phone-type" formControlName="phoneType" />
		</div>

		<!-- <div class="mb-3">
    <label for="user-plan-id" class="form-label">User Plan Id</label>
    <input
      type="number"
      class="form-control"
      id="user-plan-id"
      formControlName="userPlanId"
    />
  </div> -->
		<button class="btn blue-btn" type="submit">Submit</button>
	</form>
</div>